<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success">Save</button>
          <button
            *ngIf="!isNewRecipe"
            type="button"
            class="btn btn-danger"
            [routerLink]="['/recipes', idRecipe]"
          >
            Cancel
          </button>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              class="form-control"
              formControlName="name"
            />
            <span *ngIf="showInputErrors('name')" class="text-danger">
              Name is required!
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              type="text"
              id="imagePath"
              class="form-control"
              formControlName="imagePath"
              (blur)="changeImage($event)"
            />
            <span *ngIf="showInputErrors('imagePath')" class="text-danger">
              Image is required!
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <img [src]="recipeImg" class="img-responsive" style="width: 250px" />
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              id="description"
              class="form-control"
              rows="6"
              formControlName="description"
            ></textarea>
            <span *ngIf="showInputErrors('description')" class="text-danger">
              Description is required!
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div
            class="row ingredient-controls"
            *ngFor="
              let ingredientCtrl of getIngredientsControls();
              let i = index
            "
            [formGroupName]="i"
          >
            <div class="col-xs-7">
              <input type="text" class="form-control" formControlName="name" />
              <span
                *ngIf="showInputErrors(['ingredients', i, 'name'])"
                class="text-danger"
              >
                Ingredient name is required!
              </span>
            </div>
            <div class="col-xs-2">
              <input
                type="number"
                class="form-control"
                formControlName="amount"
              />
              <span
                *ngIf="showInputErrors(['ingredients', i, 'amount'])"
                class="text-danger"
              >
                <span
                  *ngIf="
                    getFormControl(['ingredients', i, 'amount']).errors[
                      'required'
                    ]
                  "
                >
                  Ingredient amount is required!
                </span>
                <span
                  *ngIf="
                    getFormControl(['ingredients', i, 'amount']).errors[
                      'pattern'
                    ]
                  "
                >
                  It should be a positive number!
                </span>
              </span>
            </div>
            <div class="col-xs-3">
              <button
                class="btn btn-danger"
                type="button"
                (click)="removeIngredientCtrl(i)"
              >
                x
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            type="button"
            (click)="addIngredientCtrl()"
          >
            Add Ingredient
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
