<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="addOrEditIngredient()" #ingredientForm="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            name="name"
            ngModel
            required
            #name="ngModel"
          />
          <span *ngIf="name.invalid && name.touched" class="text-danger">
            This field is required!
          </span>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            class="form-control"
            name="amount"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$"
            #amount="ngModel"
          />
          <span *ngIf="amount.invalid && amount.touched" class="text-danger">
            <span *ngIf="amount.errors['required']">
              This field is required!
            </span>
            <span *ngIf="amount.errors['pattern']">
              Please, enter a positive number!
            </span>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit">
            {{ editMode ? "Edit" : "Add" }}
          </button>
          <button class="btn btn-success" *ngIf="editMode">
            Cancel editing
          </button>
          <button
            class="btn btn-danger"
            type="button"
            *ngIf="editMode"
            (click)="deleteIngredient()"
          >
            Delete
          </button>
          <button class="btn btn-primary" type="button" (click)="resetForm()">
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
